/* font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif; */

body {
    font-family: "Noto Serif", serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: #171717;
    color: #ededed;
 
  }

  /* .glide {
    font-weight: bold;
    text-align: center;
    position: relative;
    height: 100vh;
  }
  
  .glide .title {
    display: inline-block;
    margin: 150px;
    font-size: 20vw;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    line-height: 1.9;
  } */
  
 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
  }
  
  .title {
    margin-top: 10vh;
    line-height: .9 !important;
    font-size: 15vw !important;
  }

  .sub-title {
    margin-top: 15vh;
    font-size: 3vw;
    text-align: right;
    color: #da0037;
    font-family: 'Oswald', sans-serif; 
  }  
  
  hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    height: 3px;
    border: 0;
    border-top: 3px solid #da0037;
  }

  .section-heading{
    padding-top: 20vh;
    padding-bottom: 5vh;
  }

  
  
  nav {
    background-color: #171717 !important;
  }

  nav.nav-center ul {
    text-align: center;
  }
  
  nav.nav-center ul li {
    display: inline;
    float: none;
  }
  
  nav.nav-center ul li a {
    display: inline-block;
  }
  
  nav ul a {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }
  
  nav ul li a {
    color: #ededed;
    font-size: 1.3em;
  }
  
  #nav-wrapper {
    overflow: hidden;
    z-index: 4;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 70%;
  }

  .page-footer {
    clear: both;
    text-align: center;
    margin-top: 70vh !important;
    margin-bottom: 20px;
    background-color: transparent !important;
  }

  .video-container {
    border-color: #565656;
    border-style: solid;
    border-top-width: 7px;
    border-left-width: 7px;
    border-right-width: 20px;
    border-bottom-width: 20px;
  }

  .contact-content {
    float:right;
    padding-right: 10vw;
  }

  .contact-content a {color: #7b7a7a}
  .contact-content a:hover, .contact-content a:focus {color: #da0037; text-decoration:underline}

  #about-info {
    padding-right: 70px;
  }

  #image-info {
    margin-left: 70px;
  }

  #owen-pic {
    border-color: #565656;
    border-style: solid;
    border-top-width: 7px;
    border-left-width: 7px;
    border-right-width: 20px;
    border-bottom-width: 20px;
  }


  