/* font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif; */

body {
  font-family: "Noto Serif", serif;
  font-size: 18px;
  line-height: 1.6;
  background-color: #171717;
  color: #ededed;
  height: 100%;
}

body {
  overflow-x: hidden;
}

a {
  color: white;
}

.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
}

p {
  color: #ededed;
}

.title {
  margin-top: 10vh;
  line-height: 0.9 !important;
  font-size: 15vw !important;
  font-family: "Oswald", sans-serif;
}

.sub-title {
  margin-top: 15vh;
  font-size: 3vw;
  text-align: right;
  color: #da0037;
  font-family: "Oswald", sans-serif;
}

.heading {
  overflow: hidden;
  border-bottom: 4px solid #da0037;
}

.section-heading {
  padding-top: 20vh;
  padding-bottom: 5vh;
  text-align: center;
  color: #ededed;
}

.c-labels {
  margin-top: -20px;
  padding-top: 0px;
}

nav {
  background-color: transparent !important;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li a {
  display: inline-block;
}

nav ul a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

nav ul li a {
  color: #ededed;
  font-size: 1.3em;
}

#nav-wrapper {
  overflow: hidden;
  z-index: 4;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
}

.page-footer {
  /* clear: both; */
  text-align: center;
  padding-top: 20px !important;
 margin-bottom: 20px;
  background-color: transparent !important;
  z-index: 100;

}

.video-container {
  border-color: #565656;
  border-style: solid;
  border-top-width: 7px;
  border-left-width: 7px;
  border-right-width: 20px;
  border-bottom-width: 20px;
}

/* .contact-content {
  float: right;
  padding-right: 10vw;
} */

.contact-content a {
  color: #ededed;
}
.contact-content a:hover,
.contact-content a:focus {
  color: #da0037;
  text-decoration: underline;
  font-size: 1.1em;
}

#contact-wrapper {
  margin-top: 50px;
  z-index: 5000 !important;
}

#about-info {
  padding-right: 70px;
}

#image-info {
  margin-left: 70px;
}

#owen-pic {
  border-color: #565656;
  border-style: solid;
  border-top-width: 7px;
  border-left-width: 7px;
  border-right-width: 20px;
  border-bottom-width: 20px;
}


#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #171717; */
  height: 100vh;
  background-image: linear-gradient(#000000, #171717);
}


#explore {
  background-color: #171717;
}

#about {
  background-color: #171717;

}

#skills {
  background-color: #171717;

}

#contact {
  margin-top: 200px;
height: 50vh;
background-image: linear-gradient(#171717, #565656);

}


#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  background-color: #ddd;
}
#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  text-align: left;
}
#panels #panels-container .panel img {
  max-width: 100%;
  height: auto;
  display: block;
}
#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 2rem;
}
#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
}


.wave {
  background-color: #171717;
}

.wave svg {
  display: block;
}
.wave.upper {
  background-color: #565656;
  padding-bottom: 0;
  margin-bottom: -31px;
}

/* 
 */