/* font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif; */

body {
  font-family: "Noto Serif", serif;
  font-size: 18px;
  line-height: 1.6;
  color: #ededed;
  background-color: #171717;
}

body {
  overflow-x: hidden;
}

a {
  color: #ededed !important;
}
.menu {
  color: #da0037 !important;
}

.step-description {
  color: #ededed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #ededed;
}

p {
  color: #ededed;
}

.title {
  line-height: 0.9 !important;
  font-size: 15vw !important;
  font-family: "Oswald", sans-serif;
}

.sub-title {
  margin-top: 15vh;
  font-size: 3rem;
  text-align: right;
  color: #da0037;
  font-family: "Oswald", sans-serif;
}

.heading {
  overflow: hidden;
  border-bottom: 4px solid #da0037;
}

.section-heading {
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
  color: #ededed;
}

#soft-title {
  text-align: center;
}

.list-text {
  color: #ededed;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 45px;
  font-size: 14px;
}

.c-labels {
  margin-top: -20px;
  padding-top: 0px;
}

.skills {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Navbar settings */
nav {
  background-color: transparent !important;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li a {
  display: inline-block;
}

nav ul a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

nav ul li a {
  color: #ededed;
  font-size: 1.3em;
}

#nav-wrapper {
  overflow: hidden;
  z-index: 4;
}

#nav-mobile a:hover, #nav-mobile  a:focus {
  color: #565656 !important;
}

/* Mobile Navbar settings */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(24, 24, 24, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ededed;
  display: block;
  transition: 0.3s;
  font-size: 1.3em;
}

.overlay a:hover, .overlay a:focus {
  color: #565656;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#side-nav {
  display: none;
  text-align: center;
  /* margin-top: -30vh; */
}

/* sticky navbar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
}

/* Article/Panel settings */
#about-info, #m-about-info {
  text-align: left;
  padding: 15px 30px 0px 30px;
}

#image-info {
  padding-left: 20px;
  padding-top: 20px;
}

#about-owen-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  margin-top: -15px;
}

#owen-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  margin-top: -15px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(#000000, #171717);
}

#contact {
  margin-top: 200px;
  height: 55vh;
  background-image: linear-gradient(#171717, #565656);
}

.contact-content a {
  color: #ededed;
}

.contact-content a:hover,
.contact-content a:focus {
  color: #da0037 !important;
  text-decoration: underline;
  font-size: 1.1em;
}

.page-footer {
  text-align: center;
  padding-top: 20px !important;
  margin-bottom: 20px;
  background-color: transparent !important;
  z-index: 100;
  height: 60px;
}

#c-right {
  margin-top: -100px;
}

/* Panel animation */
.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  background-color: #171717
}

#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  text-align: left;
}

#panels #panels-container .panel img {
  max-width: 100%;
  height: auto;
  display: block;
}

#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 2rem;
}

#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
}

/* animated arrow down */
.wrap-around {
	position: absolute;
	top: 95%;
	left: 45%;
	transform: translate(-50%,-50%);
  color:#da0037;
}
.wrap-around a, #contact-me{
 text-align: center !important;
  color:#da0037;
}

/* scroll box with text on each panel */
.scroll-box {
  background: #565656;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 40vh; /* maximum height of the box, feel free to change this! */
  padding: 15px;
  overflow-y: auto;
}

.scroll-box::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll-box::-webkit-scrollbar:vertical {
  width: 11px;
}

.scroll-box::-webkit-scrollbar:horizontal {
  height: 11px;
}

.scroll-box::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid#565656; /* should match background, can't be transparent */
  background-color: #2e1a1a;
}

      /* Show on mobile */
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-track {
  display: block !important;
}


/* Diagnol line on contact panel */
.wave {
  background-color: #171717;
}

.wave svg {
  display: block;
}

.wave.upper {
  background-color: #565656;
  padding-bottom: 0;
}

/* grayscale youtube videos */
iframe{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media screen and (max-width: 1245px){
  .sub-title {
    font-size: 3rem; 
    margin-top: 8vh;
  }
}

@media screen and (max-width: 992px){
  .sub-title {
    font-size: 2.5rem; 
    margin-top: 8vh;
  }
  .title {
    font-size: 18vw !important;
  }
  .section-heading {
    padding-top:12vh;
    padding-bottom: 10vh;
  }
  #about-owen-2 {
    width: 90%;
  }
  #owen-pic {
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  #nav-wrapper {
      display: none;
  }
  #side-nav {
      display: block; 
  }
  .sub-title {
    font-size: 2rem; 
    margin-top: 6vh;
  }
  .title {
    font-size: 19vw !important;
  }
  .section-heading {
    padding-top: 8vh;
    padding-bottom: 5vh;
  }
  #about-owen-2 {
    width: 50%;
  }
  #owen-pic {
    width: 50%;
  }
  .scroll-box {
    margin: 25px;
    height: 30vh; 
  }
  body {
    font-size: 16px;
    line-height: 1.4;
  }
  .step-description {
    font-size: 16px;
  }
  .skills { 
    width: 50%;
  }
  .list-text {
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 320px){
  .sub-title {
    font-size: 1.5rem; 
    margin-top: 5vh;
  }
}

@media screen and (max-width: 251px){
  .sub-title {
    font-size: 1rem;  
  }
}
